body {
	background-image: url("/public/images/background.png");
	background-color: black;
}

.top {
	padding: 10px;
	border-style: outset;
    border-width: 2px;
	background-color: red;
}

.quantity {
	padding: 10px;
	border-style: outset;
    border-width: 2px;
	background-color: orange;
}

.topping {
	padding: 10px;
	border-style: outset;
    border-width: 2px;
	background-color: yellow;
}

.notes {
	padding: 10px;
	border-style: outset;
    border-width: 2px;
	background-color: green;
}

.order {
	padding: 10px;
	border-style: outset;
    border-width: 2px;
	background-color: blue;
}

.success {
	display: none;
	padding: 10px;
	border-style: outset;
    border-width: 2px;
	background-color: white;
}

.dropdown {
	padding: 10px;
	border-style: outset;
    border-width: 2px;
	background-color: pink;
}